.container {
  width: 70px;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.round {
  background-color: gray;
  margin: 5px;
  height: 70px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
